
html {
    font-family: Helvetica, sans-serif;
}

body {
  padding: 0%;
  margin: 0%;
  background-color: rgb(253, 253, 253);
}

p, ul {
  color: rgb(44, 44, 44);
}

@media screen and (max-width: 900px) {
  



}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
}

@media screen and (max-width: 900px) {
  .topnav a {
    float: left;
    padding: 7px 8px;
    font-size: 8px;
  }
}
  
  /* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
  
  /* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}
  
  /* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
  
  /* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
  /* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
  /* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}
  
  /* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

  @media screen and (max-wdith: 900px) {
    
  }
  
  /* When the screen is less than 750 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/*
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/*
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: fixed;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  } 
*/

/* Jumbotron */

.intro_section {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.building {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 900px) {
  .building {
    margin-top: 16px;
  }
}


.welcome_info {
  padding-top: 3em;
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 225, .5);
  box-sizing: border-box;
  color: white;
  overflow: hidden;
  font: Helvetica, sans-serif;
  font-size: 2rem;
  padding: 5rem;
  padding-bottom: 2.5em;
}


.intro_section:hover .welcome_info {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .welcome_info {
    opacity: 0%;
  }
  .intro_section:hover .welcome_info {
    opacity: 0;
  }
}


/* About */
.about_container {
  display: block;
  font-family: helvetica, sans-serif;
  width: 85%;
  margin: 15px auto;
  font-size: 1.5rem;
  height: auto;
}

@media screen and (max-width: 900px) {
  .about_container {
    width: 90%;
    height: auto;
    font-size: 1.5rem;
  }
}

.about_header {
  display: block;
  width: 100%;
  margin: 0px auto;
  text-align: left;
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  .about_header {
    font-size: 1.5rem;
  }
}

.about_title {
  border-bottom: 2px solid rgb(61, 151, 72);
}

.about_content {
  background-color: white;
  color: black;
  display: block;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 1.5em;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: inset 0 4px 8px 0 rgba(61,151,72,0.2), inset 0 4px 8px 0 rgba(61,151,72,0.2);
}

@media screen and (max-width: 900px) {
  .about_content {
    width: 100%;
    box-shadow: none;
    padding: 0.5em;
    font-size: 0.75em;
  }

}

.anab_logo {
  float: left;
  width: 15%;
  padding-right: 2em;
}

/* Affiliations */

.affiliation_header {
  display: block;
  width: 100%;
  margin: 0px auto;
  margin-top: 4.5em;
  margin-bottom: 0em;
  text-align: left;
  font-size: 1.5rem;
  height: auto;
}

@media screen and (mac-width: 900px) {
  .affiliation_header {
    font-size: 0.75em;
  }
}

.affiliation_container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  justify-content: space-evenly;
  align-items: center;
}

.logo img {
  float: left;
}

@media screen and (max-width: 900px) {
  .affiliation_header {
    margin-top: 1em;
  }

  .logo img {
    width: 60%;
    height: auto;
  }
}
 
  
/* Forensic Testing*/

.forensic_testing_container {
  display: block;
  font-family: helvetica, sans-serif;
  width: 85%;
  margin: 15px auto;
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .forensic_testing_container {
    padding: 0.5em;
    margin: 7.5px auto;
  }
}

.ft_heading {
  display: block;
  width: 100%;
  margin: 0px auto;
  text-align: left;
  font-size: 3rem;
}

.testing_header {
  display: block;
  width: 100%;
  margin: 0px auto;
  border-bottom: 2px solid rgb(61, 151, 72);
}

@media screen and (max-width: 900px) {
  .testing_header {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

.testing_zigzag_design {
  display: grid;
}

/* DNA Testing */
.DNA_testing {
  background-color: white;
  color: rgb(26, 26, 26);
  display: block;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 1.5em;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: inset 0 4px 8px 0 rgba(61,151,72,0.2), inset 0 4px 8px 0 rgba(61,151,72,0.2);
}

.DNA_testing p {
  width: 50%;
  float: left;
  color: rgb(44, 44, 44);
}

.DNA_testing img {
  float: right;
  width: 45%;
  margin: 10px;
}


/* Parabon */
.parabon {
  background-color: white;
  color: black;
  display: block;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 1.5em;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: inset 0 4px 8px 0 rgba(61,151,72,0.2), inset 0 4px 8px 0 rgba(61,151,72,0.2);
}

.parabon p {
  display: block;
  float: left;
  width: 45%;
  color: rgb(44, 44, 44);
}

.parabon img {
  float: right;
  width: 40%;
}


/* Bone & Teeth */
.bone_teeth {
  background-color: white;
  color: rgb(26, 26, 26);
  display: block;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 1.5em;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: inset 0 4px 8px 0 rgba(61,151,72,0.2), inset 0 4px 8px 0 rgba(61,151,72,0.2);
}

.bone_teeth p {
  width: 50%;
  float: left;
  color: rgb(44, 44, 44);
}

.bone_teeth img {
  float: right;
  width: 45%;
  margin: 10px;
}


/* Paternity */
.paternity {
  background-color: white;
  color: black;
  display: block;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 1.5em;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: inset 0 4px 8px 0 rgba(61,151,72,0.2), inset 0 4px 8px 0 rgba(61,151,72,0.2);
}

.paternity p {
  width: 50%;
  float: left;
  color: rgb(44, 44, 44);
}

.paternity img {
  float: right;
}



/* CODIS */
.CODIS {
  background-color: white;
  color: rgb(26, 26, 26);
  display: block;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 1.5em;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: inset 0 4px 8px 0 rgba(61,151,72,0.2), inset 0 4px 8px 0 rgba(61,151,72,0.2);
}

.CODIS p {
  width: 50%;
  float: left;
  color: rgb(44, 44, 44);
}

.CODIS img {
  float: right;
  width: 45%;
  margin: 10px;
}


/* Technical Reviews */
.technical_reviews {
  background-color: white;
  color: rgb(26, 26, 26);
  display: block;
  width: 85%;
  margin: 10px auto;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: inset 0 4px 8px 0 rgba(61,151,72,0.2), inset 0 4px 8px 0 rgba(61,151,72,0.2);
}

.technical_reviews p {
  width: 50%;
  float: left;
  color: rgb(44, 44, 44);
}

.technical_reviews img {
  float: right;
  width: 45%;
  margin: 10px;
}

/* Smaller Screens */
@media screen and (max-width: 900px) {

  .testing_zigzag_design h1 {
    font-size: 1.5rem;
  }

  .paternity, .bone_teeth, .DNA_testing, .CODIS, .technical_reviews, .parabon {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 7.5px auto;
  }

  .paternity p, .bone_teeth p, .DNA_testing p, .CODIS p, .technical_reviews p, .parabon p {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 0.75em;
    margin: 0px;
  }

  .paternity img, .bone_teeth img, .DNA_testing img, .CODIS img, .technical_reviews img, .parabon img {
    display: block;
    position: relative;
    width: 80%;
    height: auto;
    margin: 0px auto;
    float: none;
  }
}


/* Facilities */
.facilities_container {
  display: block;
  font-family: helvetica, sans-serif;
  width: 85%;
  margin: 15px auto;
  font-size: 1.5em;
  margin-top: 1.5em;
}

.facilities_header {
  border-bottom: 2px solid rgb(61, 151, 72);
  font-size: 4em;
  text-align: right;
}

.lab_equipment {
  display: grid;
}

/* Processing Lab */
.processing {
  background-color: white;
  display: block;
  width: 85%;
  margin: 5px auto;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(61,151,72,0.3), 0 4px 8px 0 rgba(61,151,72,0.3);
}

.processing h1 {
  float: right;
  width: 100%;
  margin-top: 0px;
  text-align: right;
}


.processing_info {
  display: block;
  width: 50%;
  float: right;
}

.processing img {
  float: left;
  width: 45%;
  height: auto;
  box-sizing: border-box;
}

/* Prep Lab */
.prep {
  background-color: white;
  display: block;
  width: 85%;
  height: auto;
  margin: 5px auto;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(61,151,72,0.3), 0 4px 8px 0 rgba(61,151,72,0.3);
}

.prep h1 {
  text-align: right;
  width: 100%;
  margin-top: 0px;
}

.prep_info {
  display: block;
  float: right;
}

.validations_list {
  display: inline-block;
}


.prep img {
  display: block;
  width: 45%;
  height: auto;
  padding: 1em;
  padding-top: 0px;
}

.prep_lab_pics {
  display: block;
  margin: 0px auto;
  width: 80%;
  height: auto;
}

.pic1 {
  float: inline-start;
}

.pic2 {
  float: inline-end;
}

/* PCR Lab */
.pcr {
  background-color: white;
  display: block;
  width: 85%;
  margin: 10px auto;
  padding: 2em;
  border: 1.5px solid #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(61,151,72,0.3), 0 4px 8px 0 rgba(61,151,72,0.3);
}

.pcr h1 {
  text-align: right;
  width: 100%;
  margin-top: 0px;
}

.pcr img {
  float: left;
  width: 45%;
  height: auto;
  padding: 1.5em;
  padding-top: 0px;
  padding-bottom: 1em;
  box-sizing: border-box;

}

@media screen and (max-width: 900px) {

  .facilities_header {
    margin-top: 10px;
    font-size: 3rem;
  }

  .processing, .prep, .pcr {
    padding: 1em;
  }

  .processing h1, .prep h1, .pcr h1 {
    font-size: 1.5rem;
  }

  .processing p, .prep p, .pcr p {
    display: block;
    width: 100%;
    float: none;
    font-size: 0.75em;
  }

  .validations_list {
    font-size: 0.75em;
  }

  .processing_info {
    float: none;
    width: 100%;

  }

  .processing img, .prep img, .pcr img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0.25em;
    float: none;
    margin: 0px auto;
  }

}

/* Trainings */
.trainings_container {
  display: block;
  font-family: helvetica, sans-serif;
  width: 85%;
  margin: 15px auto;
  font-size: 1.5rem;
}

.trainings_header {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0px auto;
  text-align: left;
  font-size: 3rem;
}

.trainings_title {
  border-bottom: 2px solid rgb(61, 151, 72);
}

.trainings_intro {
  background-color: white;
  display: block;
  font-family: helvetica, sans-serif;
  width: 85%;
  margin: 15px auto;
  font-size: 1.5rem;
  margin-top: 3em;
  box-shadow: 0 4px 8px 0 rgba(61,151,72,0.2), 0 4px 8px 0 rgba(61,151,72,0.2);
  padding: 1em;
}


@media screen and (max-width: 900px) {
  .trainings_container {
    display: block;
    width: 90%;
  }
  .trainings_header {
    font-size: 1.5rem;
    margin: 10px 0px;
  }

  .trainings_intro {
    margin-top: 10px;
    font-size: 0.75em;
  }
}


/* Case Submission */
.case_submission_container {
  display: block;
  font-family: helvetica, sans-serif;
  width: 85%;
  margin: 15px auto;
  font-size: 1.5rem;
}

.case_submission_header {
  display: block;
  width: 100%;
  margin: 0px auto;
  text-align: right;
  font-size: 3rem;
}

.submission_title {
  border-bottom: 2px solid rgb(61, 151, 72);
}

.case_submission_content {
  background-color: white;
  display: block;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  width: 100%;
  margin: 15px auto;
  font-size: 1.5rem;
  margin-top: 3em;
  box-shadow: 0 4px 8px 0 rgba(61,151,72,0.2), 0 4px 8px 0 rgba(61,151,72,0.2);
  padding: 2em;
}

@media screen and (max-width: 900px) {
  
  .case_submission_header {
    font-size: 1.5rem;
  }
  
  .case_submission_content {
    padding: 1em;
    margin-top: 1.5em;
    font-size: 0.75em;
  }
}


/* Contact Us */
.container_contact {
  padding: 5px;
  width: 85%;
  margin: 0px auto;
}

.container_contact a {
  text-decoration: none;
  color: white;
}

.team_heading {
  display: block;
  margin: 15px auto;
  width: 100%;
  text-align: left;
  font-size: 3em;
}

.team_heading h2 {
  border-bottom: 2px solid rgb(61, 151, 72);
}

.contact_statement {
  width: 80%;
  margin: 0px auto;
  font-size: 1.7em;
}

.customer_reviews {
  display: block;
  width: 100%;
  height: auto;
  margin: 30px auto;
  ;
}

.customer_reviews img {
  display: block;
  width: 85%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 900px) {

  .team_heading {
    font-size: 1.5rem;
  }

  .contact_statement {
    font-size: 0.75em;
  }
}


/* Contact Cards */

.contact_cards {
  width: 85%;
  margin: 0px auto;
}
.card_container {
  width: 85%;
  margin: 0px auto;
}
/* Three columns side by side */
.column_team {
  display: inline-block;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 900px) {
  .column_team {
    width: 100%;
    display: block;
  }

  .customer_reviews img {
    display: block;
    width: 100%;
  }
}

/* Add some shadows to create a card effect */
.card_team_member {
  box-shadow: 0 4px 8px 0 rgba(61,151,72,0.3), 0 4px 8px 0 rgba(61,151,72,0.3);
  background-color: white;
}

/* Some left and right padding inside the container */
.container_team {
  padding: 16px 16px;
}

/* Clear floats */
.container_team::after, .row_team::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  font-size: 1.1rem;
  background-color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(61, 151, 72);
} 

/* Footer */

.footer {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
